<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetCare</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="logo">PetCare</h1>
      <button class="btn btn-primary">Entrar</button>
    </div>
  </header>

  <main>
    <section class="hero">
      <h2>Bem vindo a<br>Pet Care</h2>
      <img src="{% static 'imgs/logo.png' %}" alt="Dog Icon" class="hero-image">
      <button class="btn btn-secondary">Vamos começar</button>
    </section>

    <section class="about">
      <h2>Sobre nós</h2>
      <p>No PetCare, nossa missão é facilitar o cuidado com os seus animais de estimação...</p>
    </section>

    <section class="services">
      <h2>Nossos serviços</h2>
      <div class="card">
        <h3>Cadastro de Pets</h3>
        <p>Registre todas as informações do seu pet...</p>
      </div>
      <div class="card">
        <h3>Acompanhamento de Saúde</h3>
        <p>Acesse o histórico completo do seu pet...</p>
      </div>
      <div class="card">
        <h3>Gestão Multiplataforma</h3>
        <p>Acompanhe o bem-estar dos seus pets...</p>
      </div>
    </section>

    <section class="cta">
      <h2>Seja Parte do PetCare</h2>
      <p>Cadastre sua clínica ou atue como veterinário em nossa plataforma...</p>
      <button class="btn btn-primary">Entre</button>
    </section>
  </main>

  <footer class="footer">
    <h2>PetCare</h2>
    <div class="footer-links">
      <div>
        <h3>Mídias sociais</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>LinkedIn</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div>
        <h3>Integrações</h3>
        <ul>
          <li>Mirante</li>
        </ul>
      </div>
    </div>
    <p>&copy; 2021 Jorge Calheiros.</p>
  </footer>
</body>
</html>
